@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

:root {
  --main-color: #11b0a5;
  --border-color: #cce7d0;
}

button.normal{
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}

/* header styles */

#header{
  width: 100%;
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E3E6F3;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
  position: fixed;
  z-index: 999;
}

#header .logo{
  margin-left: 1.5rem;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

#navbar li{
  position: relative;
}

#navbar li a{ 
  margin: 0rem 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1A1A1A;
  transition: all 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
  color: var(--main-color);
}

#navbar li a.active::before,
#navbar li a:hover::before{
  position: absolute;
  content: "";
  width: 30%;
  height: 3px;
  bottom: -4px;
  background-color: var(--main-color);
}

/* hero section */

#hero{
  background-image: url(./img/hero4.png);
  background-position: top 5% right 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5rem;
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4{
  padding-bottom: 1rem;
}

#hero h1{
  color: var(--main-color);
}

#hero button{
  background-image: url(./img/button.png);
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--main-color);
  border: 0;
  padding: 1rem 5rem 1rem 4rem;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

/* features section */

#features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  margin: 15px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#features .fe-box:hover{
  box-shadow: 10px 10px 50px rgba(70, 60, 220, 0.2);
}

#features .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 5px;
  color: var(--main-color);
  background-color: #fddde4;
}

#features .fe-box:nth-child(2) h6{
  background-color: #cdebbc;
}

#features .fe-box:nth-child(3) h6{
  background-color: #cdd4f8;
}

#features .fe-box:nth-child(4) h6{
  background-color: #f6dbf6;
}

#features .fe-box:nth-child(5) h6{
  background-color: #fff2e5;
}

#features .fe-box:nth-child(6) h6{
  background-color: #d1ebf2;
}

/* featured product section */

#product1{
  text-align: center;
}

#product1 .product{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  margin: 15px 0px;
  transition: 0.3s ease-in-out;
  position: relative;
}

#product1 .product:hover{
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

#product1 .product img{
  width: 100%;
  border-radius: 20px;
}

#product1 .product .detail{
  text-align: start;
  padding: 10px 0px;
}

#product1 .product .detail span{
  font-size: 12px;
  color: #606063;
}

#product1 .product .detail h5{
  color: #1a1a1a;
  font-size: 14px;
  padding-top: 7px;
}

#product1 .product .detail .star{
  margin-top: 7px;
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .product .detail h4{
  font-size: 15px;
  font-weight: 700;
  padding-top: 7px;
  color: var(--main-color);
}

#product1 .product .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #ebf6ea;
  color: var(--main-color);
  border: 1px solid var(--border-color);
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.product-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* banner section */

#banner{
  text-align: center;
  background-image: url(./img/banner/b2.jpg);
  background-position: center;
  background-size: cover;  
}

#banner h4{
  color: white;
  font-size: 2rem;
}

#banner h2{
  margin: 2rem 0rem;
  color: white;
}

#banner h2 span{
  color: crimson;
}

#banner button:hover{
  color: white;
  background-color: var(--main-color);  
}

/* sm-banner section */

#sm-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: white;
  background-image: url(./img/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-position: center;
  background-size: cover;  
  padding: 2rem;
}

#sm-banner .banner-box-2{
  background-image: url(./img/banner/b10.jpg);
}

#sm-banner .banner-box h2{
  color: white;
  font-size: 2.3rem;
  margin-bottom: 5px;
}


#sm-banner .banner-box h4{
  color: white;
  font-size: larger;
  font-weight: 400;
}

#sm-banner .banner-box button{
  padding: .8rem 1.2rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;

}

#sm-banner .banner-box:hover button{
  background-color: var(--main-color);
  border-color: var(--main-color);
}